html
  head
    title #{title}
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/common.js')
    script(type='text/javascript', src='/js/holder.js')
    script(type='text/javascript', src='/js/tilePage.js')

    style.
      #show-wall { width: 90%; height: 90%; border: solid 1px; margin: 5px; }
  body
    script var itemid = #{itemid};
    h1 #{itemName}
      img#show-tile(src!= imgurl)
      button#apply-to-wall-btn.btn.btn-primary Apply
      if currentstat
        h2 #{currentstat}
        each nextstat in nextstats
          button.next-stat-btn.btn.btn-info(gotostat!= nextstat.id) #{nextstat.name}
    div#show-wall
